* {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.side-menu {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
}

.btn-side {
  border-radius: 50%;
  object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 15vh;
  background-color: #211f1f;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  color: #f7f7f7;
  font-size: 1rem;
}

.logo > img {
  width: 8vw;
  margin-left: 0.2rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  color: #f7f7f7;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.btn-doar {
  cursor: pointer;
  background-color: #a61a19;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}

.nav > a {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  cursor: pointer;
  border-bottom: solid 2px #a61a19;
}

.container-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../public/backgrounds/sobrenos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: justify;
  position: relative;
  overflow: hidden;
  /* background-size: 100vw 100vh; */
}

.container-sobre::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.87;
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  filter: grayscale(100%);
  z-index: 1;
}

.container-sobre > img {
  z-index: 10;
  width: 45vw;
  min-height: 50vh;
  position: relative;
}

.container-sobre > div {
  z-index: 10;
  position: relative;
  color: #f7f7f7;
  width: 40vw;
  font-size: 1.1rem;
}

.container-sobre > div > h1 {
  text-align: center;
}

.container-doacoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 55vh;
  background-color: #a61a19;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}

.container-doacoes > img {
  width: 30vw;
  height: 500px;
  position: relative;
}

.container-doacoes > div {
  color: #f7f7f7;
  width: 60vw;
}

.container-doacoes-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.container-doacoes-texto {
  text-align: center;
  font-size: 1.7rem;
  margin-left: 10px;
}

.container-nossos-valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 1rem;
  width: 100vw;
  min-height: 45vh;
  background-color: #a61a19;
  color: #f7f7f7;
}

.valores-titles {
  text-align: center;
}

.valores {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.valor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 20vw;
}

.valor > h3 {
  margin-bottom: 1px;
}

.valor > p {
  margin-top: 1px;
  font-size: 1.1rem;
}

.container-footer {
  width: 100vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a61a19;
  color: #ffffff;
  font-size: 1rem;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  width: 85vw;
}

.footer-logo > img {
  display: flex;
  width: 10vw;
}

.footer-list > dl {
  list-style: none;
}

.footer-list dl > li {
  margin-top: 15px;
}

.separator {
  width: 85vw;
  border-style: solid;
  border-color: #211f1f;
}

.footer-social-media {
  width: 85vw;
  min-height: 5vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-list .btn {
  text-decoration: none;
  color: inherit;
}

.footer-list .btn:hover {
  cursor: pointer;
  border-bottom: solid 2px #211f1f;
}

.social-icons > a {
  margin: 0px 5px;
}

.social-icons .btn {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

.social-icons .btn:hover {
  cursor: pointer;
  border: solid 2px transparent;
}

/* Estilos gerais de responsividade */
@media (max-width: 768px) {
  /* Ajusta o menu e a logo */

  * {
    max-width: 100vw;
  }
  .menu {
    display: none;
  }

  .logo {
    font-size: 0.8rem;
  }

  .logo > img {
    width: 20vw;
    margin-left: 0.2rem;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
  }

  .btn-doar {
    padding: 0.3rem;
    font-size: 0.9rem;
  }

  /* Seções principais */
  .container-sobre {
    flex-direction: column;
  }

  .container-sobre > img {
    width: 80vw;
    height: auto;
  }

  .container-sobre > div {
    width: 90vw;
    font-size: 1rem;
  }

  /* Banner de doações */
  .container-doacoes {
    flex-direction: column;
    min-height: 45vh;
  }

  .container-doacoes > img {
    width: 70vw;
    height: auto;
  }

  .container-doacoes-titulo {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .container-doacoes-texto {
    font-size: 1.2rem;
  }

  /* Nossos valores */
  .container-nossos-valores {
  }

  .valores {
    flex-direction: column;
  }

  .valor {
    width: 80vw;
    text-align: center;
    font-size: 1rem;
  }

  /* Rodapé */
  .container-footer {
    height: auto;
  }

  .footer-info {
    flex-direction: column;
    width: 90vw;
    align-items: center;
    gap: 1rem;
  }

  .btn-side {
    display: none;
  }

  .footer-logo > img {
    width: 20vw;
  }

  .footer-social-media {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-list > dl {
    text-align: center;
  }
}
